{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<style>
.main-photo{
  margin-right: 20rem;
  margin-left: 0rem;
  margin-top: 0rem;
  padding-right: 13rem;
  width: 100%;
  height: auto;
}
#home .entry-title {
        margin-left: 11rem;
        margin-top: 11rem;
        font-size: 110px;
        line-height: 123px;
}

</style>
<div>
                <section id="home" class="section section-active">
                    <div class="container-wrap">
                        <h1 class="entry-title" data-jarallax-element="0 30" style="transform: translate3d(0.0178032px, 0px, 0px);">Hello <br>I’m <span>Avi Gupta</span><div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="position: fixed;"></div></div></h1>
                        <img class="main-photo block-left" data-jarallax-element="0 -30" src="/static/img/img2.jpg" alt="" style="position: relative; z-index: 0; transform: translate3d(-0.0178039px, 0px, 0px);"><div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="position: fixed;"></div></div></img>
                    </div>
                </section>
  </div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock body %}
