{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<style>
.main-photo{
  margin-right: 20rem;
  margin-left: 0rem;
  margin-top: 0rem;
  padding-right: 13rem;
  width: 100%;
  height: auto;
}
#home .entry-title {
        margin-left: 11rem;
        margin-top: 11rem;
        font-size: 110px;
        line-height: 123px;
}

body{
  font-family: Helvetica, Arial, sans-serif;
  background-color: #F5F5DC;
}
.container{
  width: 50%;
  margin: 0 auto;
}



</style>
<div>
    <section id="home" class="section section-active bg-gray" style="background-color:	#F5F5DC;">
        <div class="container-wrap">
            <h1 class="entry-title" data-jarallax-element="0 30" style="transform: translate3d(0.0178032px, 0px, 0px);">
                Hello <br>I’m <span>Avi Gupta</span>
                <div id="jarallax-container-0"
                     style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                    <div style="position: fixed;"></div>
                </div>
            </h1>
            <img class="main-photo block-left" data-jarallax-element="0 -30" src="/static/img/img2.jpg" alt=""
                 style="position: relative; z-index: 0; transform: translate3d(-0.0178039px, 0px, 0px);">
            <div id="jarallax-container-1"
                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                <div style="position: fixed;"></div>
            </div>
            </img>
        </div>
    </section>
</div>
<div>
<section id="about" class="teall-bg" style="text-align:center; margin-top: 0px; background-color:#F5F5DC;">

    <div class="container">

        <h1 >About</h1>
        <hr class="style-seven bg-dark"/>
        <p>
            3rd year B.Tech Information Technology student at Symbiosis Institute of Technology with excellent problem
            solving skills and keen interest and practical exposure in the field of web development and software
            engineering. I am a true creative who enjoys the process of building, new challenges, new ideas, and elegant
            solutions.
        </p>

    </div>

</section>
    </div>
<div>
<section id="about" class="teall-bg" style=" margin-top: -40px; text-align:center; background-color:#F5F5DC;" >

    <div class="container">

        <h1>Education</h1>
        <hr class="style-seven bg-dark"/>
        <p>
            <strong style="font-family: Verdana;">SYMBIOSIS INSTITUTE OF TECHNOLOGY, PUNE, INDIA</strong><br>
            <span style="font-family: Verdana; font-size: 10px;">Bachelor of Technology in Information Technology (2018-pursuing)</span><br>
            <strong style="font-family: Verdana;">ACHIEVERS HOME PUBLIC SCHOOL, HARIDWAR, INDIA</strong><br>
            <span style="font-family: Verdana; font-size: 10px;">MATRICULATION, Overall Percentage 76.6 (2017-2018)</span><br>
            <span style="font-family: Verdana; font-size: 10px;">INTERMEDIATE, Overall GPA 9.0 (2015-2016)</span> </p>

    </div>
</section>
</div>


{% endblock body %}
