{% extends "base.html" %}
{% block title %}Avi Gupta | Contacts{% endblock title %}
{% block contactsactive %}active{% endblock contactsactive %}
{% block body %}
<div class="container">
    <h2 class='text-centre my-3'>Contact Me</h2>
    <form action="/contacts" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Your Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name Here">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Your Number">
        </div>

        <div class="form-group">
            <label for="desc">Explain Your Concern</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>

</div>
<br>
<br>
<br>
<br>



{% endblock body %}