{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}
<style>

</style>
<div class="page-wrap ">

    <div class="jumbotron">
        <div style="margin-top:130px" class="container">
            <a href="#" class="h5 close-menu"><i style="color:#fff; position: relative; bottom:120px; cursor:pointer;"
                                                 class="fa fa-times fa-2x fa-fw"></i></a>
            <h1>I'm Avi</h1>
            <div class="spacer"></div>
            <h1>B.TECH-3rd Year</h1>
            <h1 class="college" style="font-family: monospace; font-size: 38px; letter-spacing: 1px; margin-top: 1rem;"  >Symbiosis Institute Of Technology</h1>
            <div class="spacer"></div>
            <hr>
            <hr>
            <h2 class="text-center " style="font-family: monospace;">Django Developer | Python Developer | Computer Vision</h2>
        </div>


    </div>


    {% endblock body %}