{% extends "base.html" %}
{% block title %}Avi Gupta | Projects{% endblock title %}
{% block projectsactive %}active{% endblock projectsactive %}
{% block body %}
<style>

</style>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<section class="hero-section">
  <div class="card-grid">
    <a class="card" href="https://github.com/Avihwr/portfoliowebsite" target="_blank">
      <div class="card__background" style="background-image: url(/static/img/img2.jpg)"></div>
      <div class="card__content">
        <p class="card__category ">Project 1</p>
        <h3 class="card__heading">Personal Portfolio Website Using Django</h3>
      </div>
    </a>
    <a class="card" href="https://github.com/Avihwr/Youtube_Video_Downloader_ALPHA" target="_blank">
      <div class="card__background" style="background-image: url(/static/img/img3.jpg)"></div>
      <div class="card__content">
        <p class="card__category">Project 2</p>
        <h3 class="card__heading">Youtube Video Downloader</h3>
      </div>
    </a>
    <a class="card" href="https://github.com/Avihwr/DiceRollerWithFunMessages" target="_blank">
      <div class="card__background" style="background-image: url(/static/img/img4.png"></div>
      <div class="card__content">
        <p class="card__category">Project 3</p>
        <h3 class="card__heading">Dice Roller Android Application</h3>
      </div>
    </li>
    <a class="card" href="https://github.com/Avihwr/Hangman " target="_blank">
      <div class="card__background" style="background-image: url(/static/img/img1.png)"></div>
      <div class="card__content">
        <p class="card__category">Project 4</p>
        <h3 class="card__heading">Hangman </h3>
      </div>
    </a>
        <a class="card" href="https://github.com/Avihwr/Very-Basic-Python-Programs" target="_blank">
      <div class="card__background" style="background-image: url(/static/img/img5.png)"></div>
      <div class="card__content">
        <p class="card__category ">Project 1</p>
        <h3 class="card__heading">Basic Python Programs</h3>
      </div>
    </a>
  <div>
  </div>
    </a>
  </div>

</section>





{% endblock body %}